* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.text {
    font-size: 14px;
    opacity: 0.6;
}

.white-color {
    fill: #fff;
}

.header {
    &__navbar {
        margin-top: 20px;
        height: 20%;
        position: relative;
    }
    &__logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }
    &__hero {
        position: relative;
        margin-top: 70px;
        height: 80%;
        text-align: center;
        &-bg {
            position: absolute;
            z-index: -1;
            top: 40px;
            right: 0;
            transform: translateX(10%);
            width: 100%;
            height: 30vh;
            background-color: hsl(231, 69%, 60%);
            border-bottom-left-radius: 90px;
        }
    }
    &__img {
        margin-bottom: 50px;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    &__title {
        font-size: 26px;
    }
    &__btn {
        color: #fff;
        font-size: 13px;
        background-color: hsl(231, 69%, 60%);
        height: 45px;
        width: 135px;

        -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
        &:hover {
            background-color: #fff;
            color: hsl(231, 69%, 60%);
            border-color: hsl(231, 69%, 60%);
        }
        &--grey {
            background-color: #eee;
            color: hsl(229, 31%, 21%);
            &:hover {
                color: #000;
                border-color: #000;
            }
        }
    }
    &__hamburger {
        z-index: 999;
        border: none;
        background-color: #fff;
    }
}

.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsl(229, 31%, 21%);
    color: #fff;
    opacity: 0.95;
    z-index: 998;
    &__ul {
        margin-top: 100px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        width: 100%;
        list-style-type: none;
        text-decoration: none;
    }
    &__li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        text-align: center;
        border-top: 1px solid hsl(229, 8%, 60%);
        height: 25%;
    }
    &__link {
        font-weight: 400;
        display: block;
        color: #fff;
        font-size: 18px;
        letter-spacing: 2px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        &:hover {
            text-decoration: none;
            color: hsl(0, 94%, 66%);
            border-color: hsl(0, 94%, 66%);
        }
        &--login {
            font-weight: 500;
            border: 2px solid #fff;
            border-radius: 5px;
        }
    }
    &__socials {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        &-icon {
            margin: 0 15px;
            cursor: pointer;
        }
    }
}

.active {
    display: block;
}


.features {
    margin-top: 100px;
    text-align: center;
    &__title {
        font-size: 20px;
    }
    &__list {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 160px;
        width: 100%;
        list-style-type: none;
    }
    &__row {
        height: 100%;
    }
    &__item {
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid hsl(229, 8%, 60%);
        cursor: pointer;
        transition: .2s;
        &:hover {
            color:  hsl(0, 94%, 66%);
        }
        &--last {
            border-bottom: 1px solid hsl(229, 8%, 60%);;
        }
        &--active::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 3px;
            background-color: hsl(0, 94%, 66%);
        }
    }
    &__img {
        margin-top: 50px;
        width: 90%;
        height: auto;
    }
    &__subtitle {
        margin-top: 60px;
        font-size: 20px;
    }
    &__info {
        margin-bottom: 40px;
    }
    &__btn {
        display: none;
        background-color: hsl(231, 69%, 60%);
        color: #fff;
        &:hover {
            background-color: #fff;
            color: hsl(231, 69%, 60%);
            border-color: hsl(231, 69%, 60%);
        }
    }
}

.extensions {
    margin-top: 100px;
    text-align: center;
    &__title {
        font-size: 20px;
    }
}

.extensions-card {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin-bottom: 50px;

    -webkit-box-shadow: 0px 10px 25px -15px hsl(231, 69%, 60%);;
    -moz-box-shadow: 0px 10px 25px -15px hsl(231, 69%, 60%);;
    box-shadow: 0px 10px 25px -15px hsl(231, 69%, 60%);
    &__logo {
        margin-top: 30px;
        width: 80px;
        height: auto;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    &__title {
        font-size: 18px;
    }
    &__text {
        color: #aaa;
    }
    &__btn {
        margin-top: 15px;
        color: #fff;
        background-color: hsl(231, 69%, 60%);
        font-size: 14px;
        &:hover {
            background-color: #fff;
            color: hsl(231, 69%, 60%);
            border-color: hsl(231, 69%, 60%);
        }
    }
    &__dots {
        width: 100%;
    }
}

.faq {
    text-align: center;
    padding-bottom: 100px;
    &__title {
        font-size: 20px;
    }
    &__card {
        border: none;
        &-header {
            background-color: #fff;
            border: none;
            padding-left: 0;
            padding-right: 0;
        }
        &-el {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        &-arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.4s;
        }
        &-btn {
            color: #000;
            position: relative;
            padding-left: 0;
            padding-right: 0;
            font-size: 14px;
            &:hover {
                color: hsl(0, 94%, 66%);
            }
            &:focus > .faq__card-arrow {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        &-body {
            color: #aaa;
            text-align: left;
            font-size: 14px;
            padding-left: 0;
        }
    }
    &__btn {
        color: #fff;
        background-color: hsl(231, 69%, 60%);
        font-size: 14px;
        padding: 10px 25px;
        margin-top: 20px;
    }
}

.contact {
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    padding: 60px 0;
    text-align: center;
    &__info {
        font-size: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 10px;
    }
    &__title {
        font-size: 26px;
    }
    &__input {
        width: 100%;
        height: 50px;
        background-color: #fff;
        color: #aaa;
        padding: 10px 15px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
    }
    &__btn {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        background-color: hsl(0, 94%, 66%);
        color: #fff;
        &:hover {
            background-color: #fff;
            color: hsl(0, 94%, 66%);
            border: 1px solid;
            border-color: hsl(0, 94%, 66%);
        }
    }
    &__form-message {
        display: none;
        height: 25px;
        font-size: 10px;
        background-color: hsl(0, 94%, 66%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translateY(-10px);
        text-align: left;
        padding: 5px 15px;
    }
}

.footer {
    background-color: hsl(229, 31%, 21%);
    color: #fff;
    height: 50vh;
    &__container, &__row {
        height: 100%;
    }
    &__col {
        height: 70%;
    }
    &__nav {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        &-item {
            font-size: 14px;
            letter-spacing: 2px;
            cursor: pointer;
            transition: .2s;
            &:hover {
                color: hsl(0, 94%, 66%);
            }
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        &-icon {
            margin: 0 10px;
            width: 20px;
            height: auto;
            cursor: pointer;
            transition: .4s;
            &:hover {
                transform: scale(0.9);
            }
        }
    }
}